<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, size: 50, :placeholder  => 'Add Title of Note here' %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tag, size: 40, :placeholder  => 'Add comma-separated tags here' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div id="preview">
    <%= kramdown(@note.content) %>
  </div>
  <div class="actions">
    <%= f.submit "Save Note", class: "btn" %>
  </div>
<% end %>
