<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><%= content_tag :span, ' - limit of 250 characters' %><br>
    <%= f.text_field :title, size: 100, :placeholder  => 'e.g. Homework for BI class, Go to Eau Claire, Plan end of semester party, Go to JCPenney ' %>
  </div>
  <div class="field">
    <%= f.label :tag %><%= content_tag :span, ' - separate tags with commas' %><br>
    <%= f.text_field :tag, size: 50, :placeholder  => 'e.g. groceries, shopping, pet, party, clothes' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div id="preview">
    <%= kramdown(@note.content) %>
  </div>
  <div class="actions">
    <%= f.submit "Save Note", class: "btn" %>
  </div>
<% end %>
