<h1>My Notes</h1>

<%= render "/search/search" %>

<div id="tag_cloud">
  <h3>Filter by tag:</h3>

  <% tag_cloud Note.tag_counts, %w[d m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: "link" %>
    <% end %>

</div><br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Updated</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note), class: "link" %></td>
        <td><%= time_ago_in_words(note.updated_at) %></td>
        <td><%= raw note.tag_list.map { |t| link_to t, tag_path(t), class: "link" }.join(' ') %></td>
        <td><%= link_to image_tag("trashcan.png"), note, method: :delete, data: { confirm: 'Are you sure?' }, class: "trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path, class: "btn" %>
