<h1>My Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Last Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note) %></td>
        <td><%= note.tag %></td>
        <td><%= time_ago_in_words(note.updated_at) %></td>
        <td><%= link_to note.tag_list.to_s %></td>
        <td><%= link_to image_tag("trashcan.png"), note, method: :delete, data: { confirm: 'Are you sure?' }, class: "trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path, class: "btn" %>
