<% if @note.user == current_user %>
<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @note.tag %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<% if @note.slug.present? %>
  <p>
    <strong>Shareable URL: </strong><%= url_for :controller => "shared_notes", :action => "show", :id => @note.slug, :only_path => false %>
  </p>
<% end %>

<%= link_to 'Edit', edit_note_path(@note), class: "btn" %>
<%= link_to 'Back', notes_path, class: "btn" %>
<% end %>