<h1>Trash</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Updated</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trashed_notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note), class: "link" %></td>
        <td><%= time_ago_in_words(note.updated_at) %></td>
        <td><%= raw note.tag_list.map { |t| link_to t, tag_path(t), class: "link" }.join(' ') %></td>
        <td><%= link_to image_tag("trashcan.png"), note, method: :trash, data: { confirm: 'Are you sure?' }, class: "trash" %></td>
        <td><%= link_to "Restore", notes_path, :controller => "trash", :action => "restore", :id => note.id %></td>
        <td><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class: "trash" %></td>
        <td><%= note.trash %></td>
      </tr>
    <% end %>
  </tbody>
</table>
