<h1>Trash</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Updated</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trashed_notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note), class: "link" %></td>
        <td><%= time_ago_in_words(note.updated_at) %></td>
        <td><%= raw note.tag_list.map { |t| link_to t, tag_path(t), class: "link" }.join(' ') %></td>
        <td><%= button_to "Restore", trashed_note_path(note), :method => :patch, class: "btn" %> </td>
        <td><%= button_to 'Delete', trashed_note_path(note), :method => :delete, data: { confirm: 'Are you sure you want to permanently delete this note?' }, class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Empty Trash', :method => :emptyTrash, data: { confirm: 'Empty trash?'}, class: "btn" %>
