<!DOCTYPE html>
<html>
<head>
  <title>Scrawl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic,300,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav>
        <div class="container">
            
            
        </div>
    </nav>
  <div class="container">
    <h4 id="notice"><%= notice %></h4>
    <div class="small_logo"></div>
    <div>
        <%= link_to 'Trash', {controller: 'trash', action: 'show'}, class: 'link floatRight' %>
        <%= link_to 'Dashboard', {controller: 'dashboard', action: 'show'}, class: 'link floatRight' %>
        <%= link_to 'My Notes', {controller: 'notes', action: 'index'}, class: 'link floatRight' %>
        <%= render "/search/search" %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
