<!DOCTYPE html>
<html>
<head>
  <title>Scrawl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic,300,800' rel='stylesheet' type='text/css'>
</head>
<body>
      <div id="bluestripe">
      
      </div>
    <nav>
      <div class="container">
        <%= link_to 'Trash', {controller: 'trash', action: 'show'}, class: 'link' %>
        <%= link_to 'Dashboard', {controller: 'dashboard', action: 'show'}, class: 'link' %>
        <%= link_to 'My Notes', {controller: 'notes', action: 'index'}, class: 'link' %>
        <%= render "/search/search" %>
      </div>
    </nav>
  <div class="container">
    <div class="small_logo"></div>
    <div class="row">
    <% if notice %>
      <h4 id="notice" class="col-md-5"><%= notice %></h4>
    <% end %>
    </div>
    <% if alert %>
      <h4 class="alert"><%= alert %></h4>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
